In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv("Mine.csv")
print(df.to_string())

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2023/10/01'  110.0     130.0     409.1
1         60  2023/10/02'  117.0     145.0     479.0
2         60  2023/10/03'  103.0     135.0     340.3
3         45  2023/10/04'  109.0     175.0     282.4
4         45  2023/10/05'  117.0     150.0     405.1
5         60  2023/10/06'  103.0     125.0     300.0
6         60  2023/10/07'  110.0     135.0     374.0
7        400  2023/10/08'  114.0     133.0       NaN
8         60  2023/10/09'  112.0     126.0     193.8
9         30  2023/10/10'  102.0     147.0     234.8
10        60  2023/10/11'  100.0     129.0     375.3
11        60  2023/10/12'  109.0     131.0     345.6
12        60  2023/10/13'  103.0     136.0     239.2
13        60  2023/10/15'  120.0       NaN     240.8
14        60  2023/10/15'  120.0     100.0     240.8
15        60  2023/10/16'    NaN     101.0     243.8
16        60  2023/10/17'  127.0     102.0     380.2
17        45     20231018  142.0     103.0     241.4
18        60  2023/10/19'  151.0     104.0       NaN
19        60  2023/10/20'  162.0     105.0     300.9
20        60  2023/10/21'  100.0     106.0     280.0
21        60  2023/10/22'  103.0     107.0       NaN
22        60          NaN  130.0     108.0     230.8
23        60  2023/10/24'  134.0       NaN     239.7
24        60  2023/10/25'  132.0     110.0     236.9
25        60  2023/10/26'  135.0     118.0     278.8
26        60  2023/10/27'  137.0     119.0     212.9
27        60  2023/10/28'  138.0     121.0     345.9
28        60  2023/10/29'  139.0     122.0     345.2
29        60          NaN   92.0     125.0     380.5
30        60  2023/10/31'   94.0     126.0       NaN

In [2]:
# Displaying summary statistics (number of non-null values, 
# the data types of each column)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  31 non-null     int64
 1   Date      29 non-null     object
 2   Pulse     30 non-null     float64
 3   Maxpulse  29 non-null     float64
 4   Calories  27 non-null     float64
dtypes: float64(3), int64(1), object(1)
memory usage: 1.3+ KB
None

In [3]:
# checking for missing values/empty cells
print(df.isnull().sum())

Duration    0
Date        2
Pulse       1
Maxpulse    2
Calories    4
dtype: int64

In [4]:
# Handling missing values by filling with the mode and droppping dropping
# Drop rows where all elements are missing
df = df.dropna(how='all')

# Fill NaN numeric values with the mode
df['Pulse'] = df['Pulse'].fillna(df['Pulse'].mode()[0])

df['Maxpulse'] = df['Maxpulse'].fillna(df['Maxpulse'].mode()[0])

df['Calories'] = df['Calories'].fillna(df['Calories'].mode()[0])

In [5]:
# Checking for missing values again
print(df.isnull().sum())

Duration    0
Date        2
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [6]:
print(df.to_string())

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2023/10/01'  110.0     130.0     409.1
1         60  2023/10/02'  117.0     145.0     479.0
2         60  2023/10/03'  103.0     135.0     340.3
3         45  2023/10/04'  109.0     175.0     282.4
4         45  2023/10/05'  117.0     150.0     405.1
5         60  2023/10/06'  103.0     125.0     300.0
6         60  2023/10/07'  110.0     135.0     374.0
7        400  2023/10/08'  114.0     133.0     240.8
8         60  2023/10/09'  112.0     126.0     193.8
9         30  2023/10/10'  102.0     147.0     234.8
10        60  2023/10/11'  100.0     129.0     375.3
11        60  2023/10/12'  109.0     131.0     345.6
12        60  2023/10/13'  103.0     136.0     239.2
13        60  2023/10/15'  120.0     125.0     240.8
14        60  2023/10/15'  120.0     100.0     240.8
15        60  2023/10/16'  103.0     101.0     243.8
16        60  2023/10/17'  127.0     102.0     380.2
17        45     20231018  142.0     103.0     241.4
18        60  2023/10/19'  151.0     104.0     240.8
19        60  2023/10/20'  162.0     105.0     300.9
20        60  2023/10/21'  100.0     106.0     280.0
21        60  2023/10/22'  103.0     107.0     240.8
22        60          NaN  130.0     108.0     230.8
23        60  2023/10/24'  134.0     125.0     239.7
24        60  2023/10/25'  132.0     110.0     236.9
25        60  2023/10/26'  135.0     118.0     278.8
26        60  2023/10/27'  137.0     119.0     212.9
27        60  2023/10/28'  138.0     121.0     345.9
28        60  2023/10/29'  139.0     122.0     345.2
29        60          NaN   92.0     125.0     380.5
30        60  2023/10/31'   94.0     126.0     240.8

In [7]:
# checking for duplicates
print(df.duplicated().sum())

0

In [8]:
#Checking for wrong format
print(df.dtypes)

Duration      int64
Date         object
Pulse       float64
Maxpulse    float64
Calories    float64
dtype: object

In [9]:
# Check for wrong date data
print(df['Date'].unique())

["2023/10/01'" "2023/10/02'" "2023/10/03'" "2023/10/04'" "2023/10/05'"
 "2023/10/06'" "2023/10/07'" "2023/10/08'" "2023/10/09'" "2023/10/10'"
 "2023/10/11'" "2023/10/12'" "2023/10/13'" "2023/10/15'" "2023/10/16'"
 "2023/10/17'" '20231018' "2023/10/19'" "2023/10/20'" "2023/10/21'"
 "2023/10/22'" nan "2023/10/24'" "2023/10/25'" "2023/10/26'" "2023/10/27'"
 "2023/10/28'" "2023/10/29'" "2023/10/31'"]

In [10]:
# Normalize date format
df['Date'] = pd.to_datetime(df['Date'].str.replace("'", ""), errors='coerce')

In [11]:
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2023-10-01  110.0     130.0     409.1
1         60 2023-10-02  117.0     145.0     479.0
2         60 2023-10-03  103.0     135.0     340.3
3         45 2023-10-04  109.0     175.0     282.4
4         45 2023-10-05  117.0     150.0     405.1
5         60 2023-10-06  103.0     125.0     300.0
6         60 2023-10-07  110.0     135.0     374.0
7        400 2023-10-08  114.0     133.0     240.8
8         60 2023-10-09  112.0     126.0     193.8
9         30 2023-10-10  102.0     147.0     234.8
10        60 2023-10-11  100.0     129.0     375.3
11        60 2023-10-12  109.0     131.0     345.6
12        60 2023-10-13  103.0     136.0     239.2
13        60 2023-10-15  120.0     125.0     240.8
14        60 2023-10-15  120.0     100.0     240.8
15        60 2023-10-16  103.0     101.0     243.8
16        60 2023-10-17  127.0     102.0     380.2
17        45        NaT  142.0     103.0     241.4
18        60 2023-10-19  151.0     104.0     240.8
19        60 2023-10-20  162.0     105.0     300.9
20        60 2023-10-21  100.0     106.0     280.0
21        60 2023-10-22  103.0     107.0     240.8
22        60        NaT  130.0     108.0     230.8
23        60 2023-10-24  134.0     125.0     239.7
24        60 2023-10-25  132.0     110.0     236.9
25        60 2023-10-26  135.0     118.0     278.8
26        60 2023-10-27  137.0     119.0     212.9
27        60 2023-10-28  138.0     121.0     345.9
28        60 2023-10-29  139.0     122.0     345.2
29        60        NaT   92.0     125.0     380.5
30        60 2023-10-31   94.0     126.0     240.8

In [12]:
print(df['Date'].unique())

<DatetimeArray>
['2023-10-01 00:00:00', '2023-10-02 00:00:00', '2023-10-03 00:00:00',
 '2023-10-04 00:00:00', '2023-10-05 00:00:00', '2023-10-06 00:00:00',
 '2023-10-07 00:00:00', '2023-10-08 00:00:00', '2023-10-09 00:00:00',
 '2023-10-10 00:00:00', '2023-10-11 00:00:00', '2023-10-12 00:00:00',
 '2023-10-13 00:00:00', '2023-10-15 00:00:00', '2023-10-16 00:00:00',
 '2023-10-17 00:00:00',                 'NaT', '2023-10-19 00:00:00',
 '2023-10-20 00:00:00', '2023-10-21 00:00:00', '2023-10-22 00:00:00',
 '2023-10-24 00:00:00', '2023-10-25 00:00:00', '2023-10-26 00:00:00',
 '2023-10-27 00:00:00', '2023-10-28 00:00:00', '2023-10-29 00:00:00',
 '2023-10-31 00:00:00']
Length: 28, dtype: datetime64[ns]

In [13]:
# Identify and handle any remaining non-parsable dates
non_parsable_dates = df[df['Date'].isnull()]
print(non_parsable_dates)

    Duration Date  Pulse  Maxpulse  Calories
17        45  NaT  142.0     103.0     241.4
22        60  NaT  130.0     108.0     230.8
29        60  NaT   92.0     125.0     380.5

In [15]:
# Convert the datetime column to ordinal format for interpolation
df['Date_ordinal'] = df['Date'].map(lambda x: x.toordinal() if pd.notnull(x) else None)

# Interpolate the ordinal dates
df['Date_ordinal'] = df['Date_ordinal'].interpolate(method='linear')

# Convert the ordinal dates back to datetime
df['Date'] = pd.to_datetime(df['Date_ordinal'].map(lambda x: pd.Timestamp.fromordinal(int(x))))

# Drop the temporary 'Date_ordinal' column
df.drop(columns=['Date_ordinal'], inplace=True)

print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2023-10-01  110.0     130.0     409.1
1         60 2023-10-02  117.0     145.0     479.0
2         60 2023-10-03  103.0     135.0     340.3
3         45 2023-10-04  109.0     175.0     282.4
4         45 2023-10-05  117.0     150.0     405.1
5         60 2023-10-06  103.0     125.0     300.0
6         60 2023-10-07  110.0     135.0     374.0
7        400 2023-10-08  114.0     133.0     240.8
8         60 2023-10-09  112.0     126.0     193.8
9         30 2023-10-10  102.0     147.0     234.8
10        60 2023-10-11  100.0     129.0     375.3
11        60 2023-10-12  109.0     131.0     345.6
12        60 2023-10-13  103.0     136.0     239.2
13        60 2023-10-15  120.0     125.0     240.8
14        60 2023-10-15  120.0     100.0     240.8
15        60 2023-10-16  103.0     101.0     243.8
16        60 2023-10-17  127.0     102.0     380.2
17        45 2023-10-18  142.0     103.0     241.4
18        60 2023-10-19  151.0     104.0     240.8
19        60 2023-10-20  162.0     105.0     300.9
20        60 2023-10-21  100.0     106.0     280.0
21        60 2023-10-22  103.0     107.0     240.8
22        60 2023-10-23  130.0     108.0     230.8
23        60 2023-10-24  134.0     125.0     239.7
24        60 2023-10-25  132.0     110.0     236.9
25        60 2023-10-26  135.0     118.0     278.8
26        60 2023-10-27  137.0     119.0     212.9
27        60 2023-10-28  138.0     121.0     345.9
28        60 2023-10-29  139.0     122.0     345.2
29        60 2023-10-30   92.0     125.0     380.5
30        60 2023-10-31   94.0     126.0     240.8

In [16]:
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2023-10-01  110.0     130.0     409.1
1         60 2023-10-02  117.0     145.0     479.0
2         60 2023-10-03  103.0     135.0     340.3
3         45 2023-10-04  109.0     175.0     282.4
4         45 2023-10-05  117.0     150.0     405.1
5         60 2023-10-06  103.0     125.0     300.0
6         60 2023-10-07  110.0     135.0     374.0
7        400 2023-10-08  114.0     133.0     240.8
8         60 2023-10-09  112.0     126.0     193.8
9         30 2023-10-10  102.0     147.0     234.8
10        60 2023-10-11  100.0     129.0     375.3
11        60 2023-10-12  109.0     131.0     345.6
12        60 2023-10-13  103.0     136.0     239.2
13        60 2023-10-15  120.0     125.0     240.8
14        60 2023-10-15  120.0     100.0     240.8
15        60 2023-10-16  103.0     101.0     243.8
16        60 2023-10-17  127.0     102.0     380.2
17        45 2023-10-18  142.0     103.0     241.4
18        60 2023-10-19  151.0     104.0     240.8
19        60 2023-10-20  162.0     105.0     300.9
20        60 2023-10-21  100.0     106.0     280.0
21        60 2023-10-22  103.0     107.0     240.8
22        60 2023-10-23  130.0     108.0     230.8
23        60 2023-10-24  134.0     125.0     239.7
24        60 2023-10-25  132.0     110.0     236.9
25        60 2023-10-26  135.0     118.0     278.8
26        60 2023-10-27  137.0     119.0     212.9
27        60 2023-10-28  138.0     121.0     345.9
28        60 2023-10-29  139.0     122.0     345.2
29        60 2023-10-30   92.0     125.0     380.5
30        60 2023-10-31   94.0     126.0     240.8

In [17]:
print(df.isnull().sum())

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [18]:
# Display the cleaned dataset
print(df.head())
print('\n')
print(df.info())
print('\n')
print(df.describe())

   Duration       Date  Pulse  Maxpulse  Calories
0        60 2023-10-01  110.0     130.0     409.1
1        60 2023-10-02  117.0     145.0     479.0
2        60 2023-10-03  103.0     135.0     340.3
3        45 2023-10-04  109.0     175.0     282.4
4        45 2023-10-05  117.0     150.0     405.1


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  31 non-null     int64
 1   Date      31 non-null     datetime64[ns]
 2   Pulse     31 non-null     float64
 3   Maxpulse  31 non-null     float64
 4   Calories  31 non-null     float64
dtypes: datetime64[ns](1), float64(3), int64(1)
memory usage: 1.3 KB
None


         Duration                           Date       Pulse    Maxpulse  \
count   31.000000                             31   31.000000   31.000000
mean    68.548387  2023-10-16 00:46:27.096774144  118.322581  123.354839
min     30.000000            2023-10-01 00:00:00   92.000000  100.000000
25%     60.000000            2023-10-08 12:00:00  103.000000  107.500000
50%     60.000000            2023-10-16 00:00:00  114.000000  125.000000
75%     60.000000            2023-10-23 12:00:00  133.000000  132.000000
max    400.000000            2023-10-31 00:00:00  162.000000  175.000000
std     61.889600                            NaN   17.700070   17.081273

         Calories
count   31.000000
mean   294.851613
min    193.800000
25%    240.800000
50%    278.800000
75%    345.750000
max    479.000000
std     71.665644

In [19]:
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2023-10-01  110.0     130.0     409.1
1         60 2023-10-02  117.0     145.0     479.0
2         60 2023-10-03  103.0     135.0     340.3
3         45 2023-10-04  109.0     175.0     282.4
4         45 2023-10-05  117.0     150.0     405.1
5         60 2023-10-06  103.0     125.0     300.0
6         60 2023-10-07  110.0     135.0     374.0
7        400 2023-10-08  114.0     133.0     240.8
8         60 2023-10-09  112.0     126.0     193.8
9         30 2023-10-10  102.0     147.0     234.8
10        60 2023-10-11  100.0     129.0     375.3
11        60 2023-10-12  109.0     131.0     345.6
12        60 2023-10-13  103.0     136.0     239.2
13        60 2023-10-15  120.0     125.0     240.8
14        60 2023-10-15  120.0     100.0     240.8
15        60 2023-10-16  103.0     101.0     243.8
16        60 2023-10-17  127.0     102.0     380.2
17        45 2023-10-18  142.0     103.0     241.4
18        60 2023-10-19  151.0     104.0     240.8
19        60 2023-10-20  162.0     105.0     300.9
20        60 2023-10-21  100.0     106.0     280.0
21        60 2023-10-22  103.0     107.0     240.8
22        60 2023-10-23  130.0     108.0     230.8
23        60 2023-10-24  134.0     125.0     239.7
24        60 2023-10-25  132.0     110.0     236.9
25        60 2023-10-26  135.0     118.0     278.8
26        60 2023-10-27  137.0     119.0     212.9
27        60 2023-10-28  138.0     121.0     345.9
28        60 2023-10-29  139.0     122.0     345.2
29        60 2023-10-30   92.0     125.0     380.5
30        60 2023-10-31   94.0     126.0     240.8

In [20]:
# Save the cleaned dataset
cleaned_file_path = 'New_Mine.csv'
df.to_csv(cleaned_file_path, index=False)

In [21]:
# DATASET 2
data = pd.read_csv('Sales.csv')
print(data.to_string())

   Order ID  Customer Name   Order Date   Product  Quantity  Unit Price  Total Revenue
0      1001       John Doe   01/01/2024  Widget A      10.0        25.0          250.0
1      1002     Jane Smith   01/02/2024  Widget B       5.0        40.0          200.0
2      1003            NaN  2024/01/03'  Widget A       NaN        25.0            NaN
3      1004  Alice Johnson   04/01/2024  Widget C       3.0         NaN          210.0
4      1005      Bob Brown  2024/01/05'  Widget B      10.0        40.0          400.0
5      1006       John Doe   06/01/2024  Widget A       4.0        25.0          100.0
6      1001       John Doe   01/01/2024  Widget A      10.0        25.0          250.0
7      1007     Jane Smith   07/01/2024  Widget C      -6.0        70.0         -420.0

In [22]:
# check for null values
print(data.isna().sum())

Order ID         0
Customer Name    1
Order Date       0
Product          0
Quantity         1
Unit Price       1
Total Revenue    1
dtype: int64

In [23]:
# checking for duplicates
print(data.duplicated().sum())

1

In [24]:
# drop the duplicates
data.drop_duplicates(inplace=True)

In [25]:
# check again for duplicates
print(data.duplicated().sum())

0

In [26]:
# dropping the row with an empty name 
data.dropna(subset=['Customer Name'], inplace=True)

# check if it dropped
print(data.to_string())

   Order ID  Customer Name   Order Date   Product  Quantity  Unit Price  Total Revenue
0      1001       John Doe   01/01/2024  Widget A      10.0        25.0          250.0
1      1002     Jane Smith   01/02/2024  Widget B       5.0        40.0          200.0
3      1004  Alice Johnson   04/01/2024  Widget C       3.0         NaN          210.0
4      1005      Bob Brown  2024/01/05'  Widget B      10.0        40.0          400.0
5      1006       John Doe   06/01/2024  Widget A       4.0        25.0          100.0
7      1007     Jane Smith   07/01/2024  Widget C      -6.0        70.0         -420.0

In [27]:
# Check for wrong data

#Checking for wrong format
print(data.dtypes)

Order ID           int64
Customer Name     object
Order Date        object
Product           object
Quantity         float64
Unit Price       float64
Total Revenue    float64
dtype: object

In [28]:
# negative values

# Example: Correcting a specific column's values
data['Quantity'] = data['Quantity'].apply(lambda x: abs(x))

data['Total Revenue'] = data['Total Revenue'].apply(lambda x: abs(x))

# check if they are still
print(data.to_string())

   Order ID  Customer Name   Order Date   Product  Quantity  Unit Price  Total Revenue
0      1001       John Doe   01/01/2024  Widget A      10.0        25.0          250.0
1      1002     Jane Smith   01/02/2024  Widget B       5.0        40.0          200.0
3      1004  Alice Johnson   04/01/2024  Widget C       3.0         NaN          210.0
4      1005      Bob Brown  2024/01/05'  Widget B      10.0        40.0          400.0
5      1006       John Doe   06/01/2024  Widget A       4.0        25.0          100.0
7      1007     Jane Smith   07/01/2024  Widget C       6.0        70.0          420.0

In [29]:
# Fill the missing values for unit price
data['Unit Price'] = data.apply(
    lambda row: row['Total Revenue'] / row['Quantity'] if pd.isnull(row['Unit Price']) else row['Unit Price'], axis=1
)

In [30]:
# Check for wrong data
print(data['Order Date'].unique())

['01/01/2024' '01/02/2024' '04/01/2024' "2024/01/05'" '06/01/2024'
 '07/01/2024']

In [31]:
data['Order Date'] = data['Order Date'].str.strip("'")

In [32]:
print(data['Order Date'].unique())

['01/01/2024' '01/02/2024' '04/01/2024' '2024/01/05' '06/01/2024'
 '07/01/2024']

In [33]:
print(data.to_string())

   Order ID  Customer Name  Order Date   Product  Quantity  Unit Price  Total Revenue
0      1001       John Doe  01/01/2024  Widget A      10.0        25.0          250.0
1      1002     Jane Smith  01/02/2024  Widget B       5.0        40.0          200.0
3      1004  Alice Johnson  04/01/2024  Widget C       3.0        70.0          210.0
4      1005      Bob Brown  2024/01/05  Widget B      10.0        40.0          400.0
5      1006       John Doe  06/01/2024  Widget A       4.0        25.0          100.0
7      1007     Jane Smith  07/01/2024  Widget C       6.0        70.0          420.0

In [34]:
# Save the cleaned dataset
data.to_csv('Cleaned_Sales.csv', index=False)